In [1]:
import numpy as np
import pandas as pd

In [4]:
data2018 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2018.csv')
data2017 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2017.csv')
data2016 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2016.csv')
data2015 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2015.csv')
data2014 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2014.csv')
data2013 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2013.csv')
data2012 = pd.read_csv(r'D:\Anaconda\Jupyter Directory\Medicare Fraud Detection\California_Ophthalmology\RawDatasets\Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2012.csv')

In [5]:
data2018["Average Patient Payment Amount"] = data2018["Total Medicare Payment Amount"] / data2018["Number of Medicare Beneficiaries"]
data2017["Average Patient Payment Amount"] = data2017["Total Medicare Payment Amount"] / data2017["Number of Medicare Beneficiaries"]
data2016["Average Patient Payment Amount"] = data2016["Total Medicare Payment Amount"] / data2016["Number of Medicare Beneficiaries"]
data2015["Average Patient Payment Amount"] = data2015["Total Medicare Payment Amount"] / data2015["Number of Medicare Beneficiaries"]
data2014["Average Patient Payment Amount"] = data2014["Total Medicare Payment Amount"] / data2014["Number of Medicare Beneficiaries"]
data2013["Average Patient Payment Amount"] = data2013["Total Medicare Payment Amount"] / data2013["Number of Unique Beneficiaries"]
data2012["Average Patient Payment Amount"] = data2012["Total Medicare Payment Amount"] / data2012["Number of Unique Beneficiaries"]
data2012.rename(columns = {"NPI": "National Provider Identifier"}, inplace = True)
data2013.rename(columns = {"NPI": "National Provider Identifier"}, inplace = True)

In [6]:
data2018

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries,Average Patient Payment Amount
0,1003000639,BENHARASH,PEYMAN,NaN,MD,M,I,10833 LECONTE AVE ROOM 62-215,NaN,LOS ANGELES,...,47.0,75.0,75.0,75.0,23.0,48.0,NaN,15.0,2.3881,886.769200
1,1003001363,STEVENS,CHARLES,NaN,M.D.,M,I,1665 S IMPERIAL AVE STE D,NaN,EL CENTRO,...,46.0,68.0,75.0,40.0,14.0,75.0,3.0,7.0,2.1782,639.780014
2,1003001645,TRIVEDI,VINOD,NaN,MD,M,I,1485 RIVER PARK DR,SUITE 200,SACRAMENTO,...,49.0,60.0,75.0,52.0,12.0,54.0,6.0,13.0,3.0248,273.854315
3,1003002049,SRINIVASAN,LAKSHMI,NaN,MD,F,I,3200 KEARNEY ST,NaN,FREMONT,...,66.0,65.0,65.0,29.0,20.0,26.0,NaN,NaN,1.7786,274.218148
4,1003002742,LOCKMAN,BRETT,C,DO,M,I,680 GUZZI LN,SUITE 101,SONORA,...,20.0,53.0,62.0,25.0,15.0,75.0,NaN,NaN,1.0975,541.538362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90566,1992997217,CAPARAS,JEFFERVESCENT,M,PA-C,F,I,5717 PACIFIC CENTER BLVD STE 200,NaN,SAN DIEGO,...,21.0,49.0,57.0,26.0,10.0,37.0,NaN,NaN,1.0707,92.816532
90567,1992998025,YUSON,JESSE,NaN,D.C.,M,I,15355 SHERMAN WAY,STE Q,VAN NUYS,...,74.0,75.0,63.0,NaN,NaN,74.0,NaN,0.0,2.5531,162.667368
90568,1992999031,NAIK,RAHUL,R,M.D.,M,I,2020 ZONAL AVE,IRD ROOM 620,LOS ANGELES,...,33.0,40.0,54.0,40.0,NaN,27.0,NaN,0.0,1.6110,244.178077
90569,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,26.0,54.0,71.0,28.0,10.0,41.0,4.0,7.0,1.3348,195.696437
90570,1992999569,YUEN,JENNY,F,"O.D., F.A.A.O",F,I,515 GOUGH ST,NaN,SAN FRANCISCO,...,43.0,75.0,75.0,NaN,NaN,NaN,NaN,0.0,0.9473,137.350638

In [7]:
data2018 = data2018[["National Provider Identifier", "Average Patient Payment Amount"]]
data2018["Year"] = 2018
data2017 = data2017[["National Provider Identifier", "Average Patient Payment Amount"]]
data2017["Year"] = 2017
data2016 = data2016[["National Provider Identifier", "Average Patient Payment Amount"]]
data2016["Year"] = 2016
data2015 = data2015[["National Provider Identifier", "Average Patient Payment Amount"]]
data2015["Year"] = 2015
data2014 = data2014[["National Provider Identifier", "Average Patient Payment Amount"]]
data2014["Year"] = 2014
data2013 = data2013[["National Provider Identifier", "Average Patient Payment Amount"]]
data2013["Year"] = 2013
data2012 = data2012[["National Provider Identifier", "Average Patient Payment Amount"]]
data2012["Year"] = 2012

<ipython-input-7-f7ffa2de22e0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2018["Year"] = 2018

In [8]:
data2018

       National Provider Identifier  Average Patient Payment Amount  Year
0                        1003000639                      886.769200  2018
1                        1003001363                      639.780014  2018
2                        1003001645                      273.854315  2018
3                        1003002049                      274.218148  2018
4                        1003002742                      541.538362  2018
...                             ...                             ...   ...
90566                    1992997217                       92.816532  2018
90567                    1992998025                      162.667368  2018
90568                    1992999031                      244.178077  2018
90569                    1992999551                      195.696437  2018
90570                    1992999569                      137.350638  2018

[90571 rows x 3 columns]

In [9]:
final_df = pd.concat([data2018, data2017, data2016, data2015, data2014, data2013, data2012])
final_df = final_df.set_index("National Provider Identifier")

In [10]:
final_df

                              Average Patient Payment Amount  Year
National Provider Identifier
1003000639                                        886.769200  2018
1003001363                                        639.780014  2018
1003001645                                        273.854315  2018
1003002049                                        274.218148  2018
1003002742                                        541.538362  2018
...                                                      ...   ...
1992997076                                        210.648160  2012
1992997092                                        542.008824  2012
1992997217                                         77.945926  2012
1992998025                                        228.197000  2012
1992998306                                         87.239756  2012

[580267 rows x 2 columns]

In [11]:
final_df_pivot = final_df.pivot(columns = "Year", values = "Average Patient Payment Amount")
final_df_pivot.columns = ["Average Patient Payment in " + str(i) for i in final_df_pivot.columns]

In [31]:
final_df_pivot.to_csv("Processed Datasets/average_patient_payment_by_year.csv")

In [30]:
final_df_pivot

,Average Patient Payment in 2012,Average Patient Payment in 2013,Average Patient Payment in 2014,Average Patient Payment in 2015,Average Patient Payment in 2016,Average Patient Payment in 2017,Average Patient Payment in 2018
National Provider Identifier,,,,,,,
1003000639,957.826667,903.820400,651.400333,1400.326071,872.096441,1094.038163,886.769200
1003000712,54.438723,70.765714,89.375185,NaN,NaN,NaN,NaN
1003000852,NaN,NaN,550.991624,NaN,NaN,NaN,NaN
1003001017,439.865854,514.165404,536.177090,602.598140,666.837446,580.922355,NaN
1003001363,1594.004625,1507.271638,711.234821,655.948082,547.641306,567.090789,639.780014
...,...,...,...,...,...,...,...
1992998025,228.197000,144.195789,231.350000,176.170625,86.917273,NaN,162.667368
1992998306,87.239756,81.220000,114.126863,115.789474,71.296500,NaN,NaN
1992999031,NaN,693.686800,1493.638276,582.346111,254.285714,633.278621,244.178077
1992999551,NaN,NaN,NaN,203.686545,181.191583,170.357487,195.696437
1992999569,NaN,100.495667,108.387013,119.014838,167.154242,115.544500,137.350638